/.idea/.name
/inventory-service/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/inventory-service/.gradle/buildOutputCleanup/cache.properties
/inventory-service/.gradle/8.8/checksums/checksums.lock
/.idea/compiler.xml
/inventory-service/.gradle/8.8/executionHistory/executionHistory.lock
/inventory-service/.gradle/8.8/fileHashes/fileHashes.lock
/inventory-service/.gradle/8.8/dependencies-accessors/gc.properties
/inventory-service/.gradle/8.8/gc.properties
/inventory-service/.gradle/vcs-1/gc.properties
/.idea/jpa-buddy.xml
/inventory-service/.gradle/8.8/fileChanges/last-build.bin
/inventory-service/.gradle/8.8/checksums/md5-checksums.bin
/inventory-service/.gradle/8.8/checksums/sha1-checksums.bin
